<div id="semana">
    <div><a [routerLink]="['/formulario']" routerLinkActive="router-link-active"> 
            <p>Lunes</p>
            <img src="/assets/img/soleado.png">
            <p class="grado">18°</p>
            <p>Soleado</p>
        </a>
    </div>
    <div><a [routerLink]="['/formulario']" routerLinkActive="router-link-active">
            <p>Martes</p>
            <img src="/assets/img/lluvia.png">
            <p class="grado">9°</p>
            <p>Lluvioso</p>
        </a>
    </div>
    <div><a [routerLink]="['/formulario']" routerLinkActive="router-link-active">
            <p>Miercoles</p>
            <img src="/assets/img/nublado.jpg">
            <p class="grado">11°</p>
            <p>Nublado</p>
        </a>
    </div>
    <div><a [routerLink]="['/formulario']" routerLinkActive="router-link-active">
            <p>Jueves</p>
            <img src="/assets/img/tormenta.png">
            <p class="grado">7°</p>
            <p>Tormenta</p>
        </a>
    </div>
    <div><a [routerLink]="['/formulario']" routerLinkActive="router-link-active">
            <p>Viernes</p>
            <img src="/assets/img/soleado.png">
            <p class="grado">22°</p>
            <p>Soleado</p>
        </a>
    </div>
    <div><a [routerLink]="['/formulario']" routerLinkActive="router-link-active">
            <p>Sabado</p>
            <img src="/assets/img/lluvia.png">
            <p class="grado">10°</p>
            <p>Lluvioso</p>
        </a>
    </div>
    <div><a [routerLink]="['/formulario']" routerLinkActive="router-link-active">
            <p>Domingo</p>
            <img src="/assets/img/tormenta.png">
            <p class="grado">7°</p>
            <p>Tormenta</p>
        </a>
    </div>    
</div>

