<div id="semana">
    <div><a [routerLink]="['/formulario']" routerLinkActive="router-link-active"> 
            <p>Lunes</p>
            <img src="/imagenes/soleado.png">
            <p class="grado">18°</p>
            <p>Soleado</p>
        </a>
    </div>
    <div><a [routerLink]="['/formulario']" routerLinkActive="router-link-active">
            <p>Martes</p>
            <p class="grado">18°</p>
            <p>Soleado</p>
        </a>
    </div>
    <div><a [routerLink]="['/formulario']" routerLinkActive="router-link-active">
            <p>Miercoles</p>
            <p class="grado">18°</p>
            <p>Soleado</p>
        </a>
    </div>
    <div><a [routerLink]="['/formulario']" routerLinkActive="router-link-active">
            <p>Jueves</p>
            <p class="grado">18°</p>
            <p>Soleado</p>
        </a>
    </div>
    <div><a [routerLink]="['/formulario']" routerLinkActive="router-link-active">
            <p>Viernes</p>
            <p class="grado">18°</p>
            <p>Soleado</p>
        </a>
    </div>
    <div><a [routerLink]="['/formulario']" routerLinkActive="router-link-active">
            <p>Sabado</p>
            <p class="grado">18°</p>
            <p>Soleado</p>
        </a>
    </div>
    <div><a [routerLink]="['/formulario']" routerLinkActive="router-link-active">
            <p>Domingo</p>
            <p class="grado">18°</p>
            <p>Soleado</p>
        </a>
    </div>    
</div>

